body {
    text-align: center;
    background-image: url("fond-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.titre {
    color: white;
    text-shadow: black 2px 2px;
}

.button {
    color: rgb(0, 119, 255);
    border: 5px solid white;
    width: 100px;
    height: 100px;
}